<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROYECTONPI"
        tools:targetApi="31">
        <activity
            android:name=".MisPagosActivity"
            android:exported="false"
            android:label="@string/title_activity_mis_pagos"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".TramitacionDeTitulosActivity"
            android:exported="false"
            android:label="@string/title_activity_tramitacion_de_titulos"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".SolicitudBecasActivity"
            android:exported="false"
            android:label="@string/title_activity_solicitud_becas"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ResguardoMatricula"
            android:exported="false"
            android:label="@string/title_activity_resguardo_matricula"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".GestionDeMiFotoUGRActivity"
            android:exported="false"
            android:label="@string/title_activity_gestion_de_mi_foto_ugractivity"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".EmisionTUIActivity"
            android:exported="false"
            android:label="@string/title_activity_emision_tuiactivity"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".CitaSecretariaActivity"
            android:exported="false"
            android:label="@string/title_activity_cita_secretaria"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".InformacionSobreMenus"
            android:exported="false"
            android:label="@string/title_activity_informacion_sobre_menus"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ReservaTuMenuActivity"
            android:exported="false"
            android:label="@string/title_activity_reserva_tu_menu"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".BotTelegramActivity"
            android:exported="false"
            android:label="@string/title_activity_bot_telegram"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".MenuSemanalActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_semanal"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".BibliotecaActivity"
            android:exported="false"
            android:label="@string/title_activity_biblioteca"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".HorarioProfesoresTutoriasActivity"
            android:exported="false"
            android:label="@string/title_activity_horario_profesores_tutorias"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".CalendarioTramitesActivity"
            android:exported="false"
            android:label="@string/title_activity_calendario_tramites"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".CalendarioExamenesActivity"
            android:exported="false"
            android:label="@string/title_activity_calendario_examenes"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".CalendarioDocenteActivity"
            android:exported="false"
            android:label="@string/title_activity_calendario_docente"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".AccesoSwadActivity"
            android:exported="false"
            android:label="@string/title_activity_acceso_swad"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".AccesoPradoActivity"
            android:exported="false"
            android:label="@string/title_activity_acceso_prado"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ConsultaEstadoAccesoPradoActivity"
            android:exported="false"
            android:label="@string/title_activity_consulta_estado_acceso_prado"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".MisProfesoresActivity"
            android:exported="false"
            android:label="@string/title_activity_mis_profesores"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ConsultaMatriculaActivity"
            android:exported="false"
            android:label="@string/title_activity_consulta_matricula"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ConsultaDeExpedienteActivity"
            android:exported="false"
            android:label="@string/title_activity_consulta_de_expediente"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".HorarioPersonalizadoActivity"
            android:exported="false"
            android:label="@string/title_activity_horario_personalizado"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ConsultarSaldoActivity"
            android:exported="false"
            android:label="@string/title_activity_consultar_saldo"
            android:launchMode="singleTop"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".EscanearActivity"
            android:exported="false"
            android:label="@string/title_activity_escanear"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".MiPerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_mi_perfil"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".ComedorActivity"
            android:exported="false"
            android:label="@string/title_activity_comedor"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".InformacionActivity"
            android:exported="false"
            android:label="@string/title_activity_informacion"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".NovedadesActivity"
            android:exported="false"
            android:label="@string/title_activity_novedades"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".LocalizacionActivity"
            android:exported="false"
            android:label="@string/title_activity_localizacion"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:label="@string/title_activity_help"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".GestionActivity"
            android:exported="false"
            android:label="@string/title_activity_gestion"
            android:theme="@style/Theme.PROYECTONPI" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pantalla1"
            android:exported="true" />
        <activity
            android:name=".ui.vistas.ChatActivity"
            android:exported="true" />
    </application>

</manifest>